.App {
  text-align: center;
}

.form-input-field {
  min-width: 8rem;
  max-width: 11rem;
  margin: 0;
  font-size: 0.875rem;
}

.form-input-select {
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
}

.form-checkbox-label {
  margin-bottom: -1rem;
}